
/** CLEARFIX AND BOX-SIZING **/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.header-margin {
  margin-top: 70px;
}

.cf {
  clear: both;
}

.errors {
  color: red;
}


/** FONT STUFF **/


.errors {
  color: red;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em;
  color: #424b51;
  font-weight: 400;
  font-size: 16px;
  background-color: #f2f6f7;
}


h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.175em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}


/** NAV **/

.user-nav {
  height: 70px;
  background: #363e43;
  padding: auto 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.nav-links {
  
  float: right;
  padding-top: 20px;
  opacity: 1;
  margin-right: 50px;
}

.nav-links-home {
  float: right;
  
  opacity: 1;
  margin-right: 50px;
  width: 100%;
  text-align: right;
}

.nav-links-home img {
  width: 4em;
  border-radius: 100%;
}

.nav-links img {
  margin-top: -0.5em;
  width: 12%;
  border-radius: 100%;
}

.not-signed-in-nav {
  padding-top: 4px;
}

.nav-links a {
  margin-left: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
}

.nav-logo {
  display: inline-block;
  padding-top: 15px;
}

.nav-logo img {
  width: 175px;
  margin-left: 40px;
  opacity: 1;
}

.user-nav-home {
  font-weight: 300;
  display: inline;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 1000px;
  padding-top: 25px;
  color: white;
}

.user-nav-home a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  margin: 0 20px;
  opacity: 1
}

.user-nav-home a:hover {
  opacity: 0.8
}
/*** HOMEPAGE ****/


.feature {
  background-image: url(/assets/hero.png);
  height: 500px;
  background-size: cover;
  color: white;
  background-color: #2e3132;
}

.feature-content {
  text-align: center;
  margin-top: 140px;
}

.tagline {
  font-size: 0.6em;
  margin-top: 55px;
}

.grid-container-home {
  margin-top: 20px;
  padding: 0 1.6666665%;
}

.home-grid-photo {
  width: 30%;
  height: 300px;
  margin: 1.6666665%;
  padding: 0;
  float: left;
}

.home-grid-photo img {
  display: block;
  width: 430px;
  margin: auto;
}

.pagination {
  text-align: center;
}

.background-home-grid-photo {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

li.background {
  list-style: none;

}

/*** GRID SECTION **/

.grid-content-area {
  width: 80%;
  min-height: 100%;
  background-color: #f2f6f7;
  float: left;
  margin-top: 70px;
  margin-bottom: 10em;
  padding: 20px;
}

.grid-content-area-photo {
  width: 70%;
  min-height: 100%;
  background-color: #f2f6f7;
  float: left;
  margin-top: 70px;
  margin-bottom: 10em;
  padding-top: 1em;
  margin-left: 10%;
  margin-right: 5%;
}

.single-photo{
  width: 800px;
}

/*** SIDEBAR SECTION **/

.sidebar-content-area {
  background-color: white;
  height: 100%;
  width: 20%;
  margin-top: 3em;
  padding: 0;
  position: fixed;
  right: 0;
}

.sidebar-content {
  padding: 0 35px;
  font-weight: 400;
}

.sidebar-text {
  margin-top: 3em;
}

.sidebar-text h1 {
  margin-top: 2em;
  font-size: 1.2em;
}

.sidebar-text span {
  margin-top: 0;
  font-size: 3em;
  color: #94A9B1;
  margin-left: 45%;
}

.profile-picture {
  margin: 0;
  display: block;
}

.profile-picture h3 {
  text-align: center;
  display: block;
  color: #9EADB8;
  font-size: 1em;
  font-weight: 300;
}

.profile-picture img {
  border-radius: 100%;
  margin: 4em auto 2em;
  display: block;
  width: 60%;
}

/*** PROFILE GRID ***/

.placeholder-album {
  height: 241px;
}

.profile-grid-photo {
  width: 50%;
  height: 15em;
  height: 241px;
  width: 48%;
  margin: 1%;
  float: left;
}

.profile-grid-photo.add{
  background-color: #495C66;
  background-size: 48% auto;
  width: 48%;
  padding: 0px;
  height: 15em;

}

.profile-grid-photo img {
  /*display: block;*/
  height: 240px;
  width: 100%;
}


.profile-grid-photo form {
  text-align: center;
  padding-top: 25px;
  color: white;
  display: none;
}

.profile-grid-photo input {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  height: 3em;
}

.profile-grid-photo .photo-upload {
  float: left;
  width: 6em;
  margin-left: 7em;

}

.profile-grid-form {
  background: white;
  width: 516px;
  height: 240px;
  display: block;
  float: left;
  margin: 30px 0px 30px 30px;
}

/*** album GRID ***/
.album-form-grid {
  width: 80%;
  margin-top: 70px;
  float: left;
}

.album-grid {
  width: 80%;
  height: 99em;
  float: left;
  margin-bottom: 10em;
}

.album-photo {
  width: 33.333%;
  margin: 0;
  display: block;
  float: left;
}

.album-photo img {
  width: 100%;
  height: 240px;
}



/*** SEARCHES ***/

.error_message_searches {
  text-align: center;
}

/* letter-spacing: 0.19em;
text-transform: uppercase;
font-weight: 400;
font-size: 1.05em;
/*** Search Fade Input ***/

.search {
  cursor: pointer;
}

::-webkit-input-placeholder {
    color: #d5d8d8;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  cursor: pointer;
  color: #babebe;

}

.overlay {
  position: fixed;
  top: 0; bottom: 0;
  right: 0; left: 0;
  display: none;
  background:rgba(255,255,255,0.95);
}

.overlay p {
  font-size: 2em;
  text-align: center;
}

.overlay input {
  color: #424b51;
  background: none;
  padding: 20px;
  font-size: 8em;
  border: none;
  box-shadow: none;
  margin: 40px;
}
.overlay input:focus { outline: none; }

.overlay .close {
    position: absolute;
    font-weight: 500;
    top: 50px;
    right: 100px;
    font-size: 30px;
}


/* User index */
.user-container {
  margin-top: 3em;
}
.user-container ul {
  list-style: none;
}
.user-container a {
  text-decoration: none;
  
}

/* photo show page*/
.photo-score {
  text-align: center;
}


/** SEARCH **/

.search-grid {
  width: 100%;
}

.search-photo {
  width: 25%;
  margin: 0;
  display: block;
  float: left;
}

.search-photo img {
  width: 100%;
  height: 250px;
}

/** no results search error **/

.error_message_searches {
  font-size: 3em;
  font-weight: 600;
  margin: 6em 0;
  color: #A0B3B8;
}

/* Home hover */

.william-paginate {
  font-size: 1.2em;
  padding-bottom: 2em;
  padding-top:2em;
  color: #2e3132;
}

.william-paginate a {
  color: #a8b4ba;

}

.background-home-grid-photo {
  display: none;
  background-color: rgba(236, 232, 232, 0.7);
}

.background-home-grid-photo a {
  color: white;
}

.background-home-grid-photo h1 {
  font-size: 1.5em;
  margin: 0;
  padding-top: 1em;
}

.background-page-avatar-picture {
  margin: 0 auto;
  padding-top: 1.5em;
}

.background-page-avatar-picture img {
  border-radius: 100%;
  width: 20%;
}

.score-link  {
  font-weight: 100;
  font-size: 2em;
}


/**** FORMS *****/

input {

    border-radius: 3px;
    padding: 1em;
    margin: 1em;

    background: #FFFFFF;

    border: 1px solid #DDDDDD;

    -moz-box-shadow:    inset 0px 2px 0px 0px rgba(0,0,0,0.04);
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.04);
    box-shadow:         inset 0px 2px 0px 0px rgba(0,0,0,0.04);
    outline-width: 0;
}

.user-form {
    background-color: white;
    margin: 7em auto;
    text-align: center;
    width: 29em;
    border-radius: 3px;
    -moz-box-shadow:    0px 1px 3px 0px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.08);
}

.form-button {

    border: none;
    border-radius: 3px;
    margin: 10px 0 0 0;
    padding: 1.3em 8em;
    background-color: #67878A;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}

.form-content {
  padding: 1em 0; 
  padding-bottom: 2em;
}

.form-content .remember-check-box {
  padding: 1em 0;
  margin-right: 12em;
  color: #4C6469;
}

p.add-album-plus {
  cursor: pointer;
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 240px;
}

.devise-shared-links a {
  color: #4C6469;
}

.devise-shared-links img {
  margin-top: 0.8em;
}

.notice-style{
  color: black;
  text-align: center;
  padding-top: 1em;
  padding-bottom: -1em; 
}

#error_explanation h2 {
  display: none;
}
#error_explanation ul {
  list-style: none;
  padding-left: 0px;
}


