.grid-container-home.cf
  - @photos.each do |photo|
    .home-grid-photo{style: "background-image: url(#{photo.image_url(:home_grid)})"}
      .background-home-grid-photo
        %li.background AUTHOR
        = link_to photo.album.user.name, photo.album.user
        %hr
        %li.background PHOTO TITLE
        = link_to photo.title, photo
